<%= form_with(model: resume, local: true) do |f| %>
  <% if resume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

      <ul>
      <% resume.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :skill, 'Key Skills' %>
    <%= f.text_field :skill, :id => 'resume_skill' %>
  </div>
  <div class="field">
    <%= f.label :expected_sal, 'Expected salary' %>
    <%= f.text_field :expected_sal, :id => 'resume_expected_sal' %>
  </div>
  <div class="field">
    <%= f.label :expected_locations, 'Expected locations' %>
    <%= f.text_field :expected_locations, :id => 'resume_expected_locations' %>
  </div>
  <div class="histories">
    <%= f.fields_for :histories do |builder| %>
      <%= render 'history_student_fields', :f => builder %>
    <% end %>
    <%= link_to_add_fields('Add student history', f, :histories, '_student') %>

    <%#= f.fields_for :histories do |builder| %>
      <%#= render 'history_employent_fields', :f => builder %>
    <%# end %>
    <%#= link_to_add_fields('Add employent history', f, :histories, '_employent') %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
