<div class="nested-fields">
  <div class="field">
    <b>Employent</b>
    <%= f.hidden_field :history_type, :value => 'employent' %>
  </div>
  <div class="field">
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :company, 'Company' %>
    <%= f.text_field "detail[company]", :value => nil %>
  </div>

  <div class="field">
    <%= f.label :qualification, 'Qualification' %>
    <%= f.text_field "detail[qualification]", :value => nil %>
  </div>

  <div class="field">
    <%= f.label :start_date, 'Start time' %>
    <%= f.date_field :start_time %>
  </div>

  <div class="field">
    <%= f.label :end_time, 'End time' %>
    <%= f.date_field :end_time %>
  </div>

  <div class="field">
    <%= f.label :achievements, 'Achievements' %>
    <%= f.text_field "detail[achievements]", :value => nil %>
  </div>
  <%= link_to_remove_association "Remove history", f %>
</div>
